* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

/* select {
    -webkit-appearance: none;
} */

body {
    background-color: hsl(0, 0%, 94%);
}

.page-container {
    padding: 2rem;
    max-width: 768px;
    margin: auto;
    height: 100%;
    background: white;
}

.pagination-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.pagination-btn {
    padding: 0.3rem 0.6rem;
    background-color: steelblue;
    color: white;
    border: none;
    border-radius: 5px;
}

.pagination-disabled {
    background-color: grey;
}

.error-text {
    color: red;
}

.form-error {
    border: 2px solid red;
}

.loading-title {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
    transition-duration: 0.1s;
}

button:hover {
    filter: brightness(1.1);
}

.submit-btn {
    padding: 0.5rem 1rem;
    background: steelblue;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

.submit-btn:active {
    scale: 0.98;
}

.delete-btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: rgb(203, 33, 33);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
}

.delete-btn:active {
    scale: 0.9;
}
