nav {
    position: sticky;
    width: 100%;
    background: steelblue;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-logo {
    font-family: "share";
    font-weight: 700;
    font-size: 2rem;
}

.nav-logo,
.nav-button {
    color: white;
    text-decoration: none;
}

.nav-logo:hover,
.nav-button:hover {
    opacity: 0.8;
}

.nav-button {
    padding: 1.55rem;
    font-weight: 500;
}

@media (max-width: 720px) {
    .nav-logo {
        font-size: 1.2rem;
    }
    .nav-button {
        padding: 1rem 0 0 1rem;
    }
}
