.error-page-title {
    margin-bottom: 2rem;
    text-align: center;
}

.lottie-404 {
    margin: 4rem auto;
    max-width: 75%;
}

.error-text-404 {
    text-align: center;
    margin-bottom: 2rem;
}

.link-home {
    display: block;
    margin: auto;
    max-width: 12rem;
    text-align: center;
}

@media (max-width: 720px) {
    .lottie-404 {
        max-width: 100%;
    }
}
